/*
    ELEMENTS:
    <div>
    <button>

    PROPERTIES:
    grid-template-columns
    grid-template-rows
    grid-auto-columns
    grid-auto-rows
    grid-auto-flow
    grid-row
    grid-column
    grid-row-gap
    grid-column-gap
    x:hover
    background-color

    FUNCTIONS:
    repeat()

    DATA TYPES:
    <flex> -- 1fr, 2fr, etc.
*/

.container {
  width: 500px;
  height: 500px;
  border-width: 35px;
  border-style: solid;
  border-color: red;
  border-radius: 25px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

.container-buttons {
  width: 525px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.block {
  width: 15px;
  height: 15px;
  float: left;
  background-color: white;
}

.block-filled {
  background-color: black;
}

.buttons {
  padding: 8px 20px;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
  background-color: blue;
  color: white;
}

.button-reset {
  background-color: green;
}
